.category_list{
    background: #ededed;
    list-style: none;
    width: 15%;
}

.category_list_item{
    border-bottom: 1px solid #c9c9c9;
    padding: 1em 4em 1em 1.5em;
    color: #9d9a9a;
    font-size: 0.90rem;
}